body {
  color: #333;
  background-color: #0000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1;
  overflow-x: hidden;
}

.bodyblock {
  grid-row-gap: 85px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  display: flex;
}

.cont {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration: none;
  display: flex;
}

.searchblock {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.headerblock {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-40 {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.form-style {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.inputblock {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

._16 {
  color: #0000004d;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.input {
  color: #000;
  background-color: #fff;
  border: 1px solid #0000001a;
  border-radius: 36px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
}

.placeholder {
  opacity: .1;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.vector {
  object-fit: cover;
  width: 24px;
}

.main-button {
  grid-column-gap: 3px;
  background-color: #0091f4;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 16px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
}

._18 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text {
  color: #0000004d;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  text-decoration: none;
}

.rec {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 100px;
  text-decoration: none;
  display: flex;
}

.blockname {
  color: #000;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.frame-19 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.tag {
  grid-column-gap: 3px;
  background-color: #fff;
  border-radius: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  text-decoration: none;
  display: flex;
}

.text-3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.tag-2 {
  grid-column-gap: 3px;
  background-color: #fff;
  border-radius: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  text-decoration: none;
  display: flex;
}

.tab {
  color: #4a547b;
  background-color: #fff;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
  display: flex;
}

.tab.w--current {
  color: #fff;
  background-color: #0091f4;
}

.brand-group {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  text-decoration: none;
  display: flex;
}

.groupname {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.cardblock {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.card {
  background-color: #fff;
  border: 1px solid #0000001a;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 200px;
  min-width: 200px;
  height: 220px;
  padding: 20px;
  text-decoration: none;
  display: flex;
}

.avatar {
  background-color: #fff;
  border-radius: 100px;
  overflow: hidden;
}

.brand-avatar {
  object-fit: cover;
}

.infotext {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.brand-name {
  color: #000;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.brand-subs {
  color: #0000004d;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
}

.link-style {
  grid-column-gap: 6px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.icon {
  overflow: hidden;
}

.username {
  color: #0000004d;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.form-block {
  width: 100%;
}

.form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.body {
  background-color: #f5f6fa;
}

.tabs-menu {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  height: 40px;
  margin-top: 24px;
  display: flex;
}

.tabs {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  display: flex;
}

.about {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.recblock {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

@media screen and (max-width: 100%) {
  ._16 {
    padding-left: 0;
  }

  .cardblock {
    grid-column-gap: 12px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-decoration: none;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .tabs {
    width: 100%;
  }
}


